@config "../tailwind.config.js";
@import "tailwindcss";

@layer base {
    * {
        @apply font-sans text-slate-800
    }
    
    .container {
        @apply text-2xl text-center flex justify-center items-center
    }

    h1 {
        @apply text-4xl md:text-5xl font-semibold tracking-wide text-slate-900 text-center mb-8
    }

    .text {
        @apply bg-white rounded-sm w-4/5
    }

    .task-time, .task-name {
        @apply text-slate-900 text-2xl font-semibold
    }

    button {
        @apply cursor-pointer 
    }

    .button {
        @apply  mt-4 w-full md:w-auto
                inline-flex items-center justify-center
                rounded-lg px-5 py-2.5
                text-xl font-semibold
                shadow-md hover:shadow-lg
                transition
    }

    .error {
        @apply text-red-600 text-xl transition-opacity duration-200
    }
}